In [1]:
# Basic machine learning models (Supervised and Unsupervised learning)
"""
1. Load the dataset
2. Explore the dataset using charts or some statistical models
3. Preprocess the data (Are there any null values?, Are all columns relevent? Are there outcome? Are the columns independent?)
4. Apply preprocess values (Transformation of the columns after preprocessing decisions)
5. Split training and test data
6. Select the model (What is the category of the problem? Classification or regression? labeled or non-labeled data?)
7. Fit the model with training data (what is the accuracy score?)
8. Validate the model with test data (what is the accuracy score?)
9. Optimize the model if the accuracy score is not satisfactory (Select parameters that can improve the accuracy and apply to model)
10. Run the model with new test data
11. Save the model
12. Deploy the model (Desktop or web app or mobile app or IOT device)
"""

'\n1. Load the dataset\n2. Explore the dataset using charts or some statistical models\n3. Preprocess the data (Are there any null values?, Are all columns relevent? Are there outcome? Are the columns independent?)\n4. Apply preprocess values (Transformation of the columns after preprocessing decisions)\n5. Split training and test data\n6. Select the model (What is the category of the problem? Classification or regression? labeled or non-labeled data?)\n7. Fit the model with training data (what is the accuracy score?)\n8. Validate the model with test data (what is the accuracy score?)\n9. Optimize the model if the accuracy score is not satisfactory (Select parameters that can improve the accuracy and apply to model)\n10. Run the model with new test data\n11. Save the model\n12. Deploy the model (Desktop or web app or mobile app or IOT device)\n'

In [2]:
import pandas as pd

In [3]:
# loan application approval example ---> using logistic regression

In [4]:
loan = pd.read_csv('loan.csv')

In [5]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_status
0,LP001015,Male,Yes,0,Graduate,No,5720,0.0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500.0,126.0,360.0,1.0,Urban,N
2,LP001031,Male,Yes,2,Graduate,No,5000,1800.0,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546.0,100.0,360.0,NaN,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0.0,78.0,360.0,1.0,Urban,Y

In [6]:
# quick stats about the dataset
loan.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,981.000000,981.000000,954.000000,961.000000,902.000000
mean,5179.795107,1601.916330,142.511530,342.201873,0.835920
std,5695.104533,2718.772806,77.421743,65.100602,0.370553
min,0.000000,0.000000,9.000000,6.000000,0.000000
25%,2875.000000,0.000000,100.000000,360.000000,1.000000
50%,3800.000000,1110.000000,126.000000,360.000000,1.000000
75%,5516.000000,2365.000000,162.000000,360.000000,1.000000
max,81000.000000,41667.000000,700.000000,480.000000,1.000000

In [7]:
# Small exercise : Explore the dataset using charts or some statistical models using any available BI tools

In [8]:
# check for missing values --> count : how many null values in each column
loan.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_status           0
dtype: int64

In [9]:
# majority of the loan applicants are Male 
loan['Gender'].value_counts()

Male      775
Female    182
Name: Gender, dtype: int64

In [10]:
# fill the nulls with majority values
loan['Gender'] = loan['Gender'].fillna('Male')

In [11]:
# majority of the loan applicants are Married
loan['Married'].value_counts()

Yes    631
No     347
Name: Married, dtype: int64

In [12]:
# fill the nulls with majority values
loan['Married'] = loan['Married'].fillna('Yes')

In [13]:
# majority of the loan applicants are zero dependents
loan['Dependents'].value_counts()

0     545
1     160
2     160
3+     91
Name: Dependents, dtype: int64

In [14]:
# fill the nulls with majority values
loan['Dependents'] = loan['Dependents'].fillna(0)

In [15]:
loan['Self_Employed'].value_counts()

No     807
Yes    119
Name: Self_Employed, dtype: int64

In [16]:
loan.Self_Employed = loan.Self_Employed.fillna('No')

In [17]:
# What is the mean (average) of the loan amount?
loan.LoanAmount.mean()

142.51153039832286

In [18]:
# fill the null values in 'loanAmount' column with mean of the column 
loan.LoanAmount = loan.LoanAmount.fillna(loan.LoanAmount.mean())

In [19]:
loan['Loan_Amount_Term'].value_counts()

360.0    823
180.0     66
480.0     23
300.0     20
240.0      8
84.0       7
120.0      4
36.0       3
60.0       3
12.0       2
350.0      1
6.0        1
Name: Loan_Amount_Term, dtype: int64

In [20]:
loan.Loan_Amount_Term = loan.Loan_Amount_Term.fillna(360.0)

In [21]:
loan['Credit_History'].value_counts()

1.0    754
0.0    148
Name: Credit_History, dtype: int64

In [22]:
loan.Credit_History = loan.Credit_History.fillna(1.0)

In [23]:
# check for missing values
loan.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_status          0
dtype: int64

In [24]:
# Transformation of non-numeric features into numeric features
loan['Gender'] = loan['Gender'].replace({'Male':1,'Female':0})

In [25]:
loan.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_status
976,LP002978,0,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
977,LP002979,1,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
978,LP002983,1,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
979,LP002984,1,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
980,LP002990,0,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [26]:
# replacing values
loan.Married = loan.Married.replace({'No':0,'Yes':1})
loan.Education = loan.Education.replace({'Not Graduate':0,'Graduate':1})
loan.Self_Employed = loan.Self_Employed.replace({'No':0,'Yes':1})
loan.Property_Area = loan.Property_Area.replace({'Rural':0,'Urban':1, 'Semiurban':2})
loan.Loan_status = loan.Loan_status.replace({'N':0,'Y':1})
loan.Dependents = loan.Dependents.replace({'3+':3})

In [27]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_status
0,LP001015,1,1,0,1,0,5720,0.0,110.0,360.0,1.0,1,1
1,LP001022,1,1,1,1,0,3076,1500.0,126.0,360.0,1.0,1,0
2,LP001031,1,1,2,1,0,5000,1800.0,208.0,360.0,1.0,1,1
3,LP001035,1,1,2,1,0,2340,2546.0,100.0,360.0,1.0,1,1
4,LP001051,1,0,0,0,0,3276,0.0,78.0,360.0,1.0,1,1

In [28]:
# drop a column axis=1; if row drop then axis=0
loan=loan.drop(['Loan_ID'],axis=1)

In [29]:
loan.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_status
0,1,1,0,1,0,5720,0.0,110.0,360.0,1.0,1,1
1,1,1,1,1,0,3076,1500.0,126.0,360.0,1.0,1,0
2,1,1,2,1,0,5000,1800.0,208.0,360.0,1.0,1,1
3,1,1,2,1,0,2340,2546.0,100.0,360.0,1.0,1,1
4,1,0,0,0,0,3276,0.0,78.0,360.0,1.0,1,1

In [30]:
# Split training and test data
from sklearn.model_selection import train_test_split

# X is every column except the last col --> features
X = loan[loan.columns[:-1]]

# Y is the last columns --> target column
Y = loan[loan.columns[-1]]

# splitting train and test data in the ratio of 80:20
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=6)

In [31]:
# X is split into lists X_train and X_test
# Y is split into list Y_train and Y_test
X_train.head()
Y_train.head()
#fit(X_train,Y_train)
#fit(X_test,Y_test)

650    1
248    0
203    1
205    1
646    1
Name: Loan_status, dtype: int64

In [32]:
X_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
400,1,1,0,1,0,3500,1667.0,114.0,360.0,1.0,2
292,1,0,0,0,0,3271,0.0,90.0,360.0,1.0,0
403,1,1,0,1,0,1828,1330.0,100.0,360.0,0.0,1
898,1,1,3,1,0,4281,0.0,100.0,360.0,1.0,1
231,1,0,0,1,1,2860,2988.0,138.0,360.0,1.0,1

In [33]:
Y_train.head()

650    1
248    0
203    1
205    1
646    1
Name: Loan_status, dtype: int64

In [34]:
Y_test.head()

400    1
292    0
403    0
898    1
231    0
Name: Loan_status, dtype: int64

In [35]:
# How many training data?
len(X_train)

784

In [36]:
# How many test data?
len(X_test)

197

In [37]:
# Create the model and train Logistic Regression model for loan dataset
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 42)
classifier.fit(X_train, Y_train)

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=42, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
Y_pred = classifier.predict(X_test)

In [39]:
# actual
X_test.iloc[1]

Gender                  1
Married                 0
Dependents              0
Education               0
Self_Employed           0
ApplicantIncome      3271
CoapplicantIncome       0
LoanAmount             90
Loan_Amount_Term      360
Credit_History          1
Property_Area           0
Name: 292, dtype: object

In [40]:
Y_test.iloc[1]

0

In [41]:
# predicted
Y_pred[1]

1

In [42]:
# accuracy score
classifier.score(X_test,Y_test)

0.7360406091370558

In [43]:
Y_pred=classifier.predict(X_test)
Y_pred

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1],
      dtype=int64)

In [44]:
classifier.score(X_train,Y_train)

0.7270408163265306

## Initiate the LR model with random hyperparameters

In [45]:
# Initiate the LR model with random hyperparameters
lr = LogisticRegression(penalty='l1',dual=False,max_iter=110)

In [46]:
# Pass data to the LR model
lr.fit(X,Y)

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=110,
                   multi_class='warn', n_jobs=None, penalty='l1',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
lr.score(X,Y)

0.72782874617737

In [48]:
# accuracy score
classifier.score(X_test,Y_test)

0.7360406091370558

In [49]:
Y_pred=classifier.predict(X_test)
Y_pred

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1],
      dtype=int64)

In [50]:
classifier.score(X_train,Y_train)

0.7270408163265306

In [51]:
# You will need the following dependencies for applying Cross-validation and evaluating the cross-validated score

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [52]:
# Build the k-fold cross-validator

kfold = KFold(n_splits=3, random_state=7)

In [53]:
result = cross_val_score(lr, X, Y, cv=kfold, scoring='accuracy')
print(result.mean())

0.7247706422018348

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

# now using Gried search

In [54]:
#importing gried search
from sklearn.model_selection import GridSearchCV

In [55]:
#Let's define the grid values of the hyperparameters that you used above.

dual=[True,False]
dual=[True,False]
max_iter=[100,110,120,130,140]
param_grid = dict(dual=dual,max_iter=max_iter)

In [56]:
import time

lr = LogisticRegression(penalty='l2')
grid = GridSearchCV(estimator=lr, param_grid=param_grid, cv = 3, n_jobs=-1)

start_time = time.time()
grid_result = grid.fit(X, Y)
# Summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
print("Execution time: " + str((time.time() - start_time)) + ' ms')

Best: 0.720693 using {'dual': False, 'max_iter': 100}
Execution time: 4.278563022613525 ms

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [57]:
# define a larger grid of hyperparameter as well and apply grid search.

dual=[True,False]
max_iter=[100,110,120,130,140]
C = [1.0,1.5,2.0,2.5]
param_grid = dict(dual=dual,max_iter=max_iter,C=C)

In [58]:
lr = LogisticRegression(penalty='l2')
grid = GridSearchCV(estimator=lr, param_grid=param_grid, cv = 3, n_jobs=-1)

start_time = time.time()
grid_result = grid.fit(X, Y)
# Summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
print("Execution time: " + str((time.time() - start_time)) + ' ms')

Best: 0.723751 using {'C': 1.5, 'dual': False, 'max_iter': 100}
Execution time: 0.8498344421386719 ms

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

# Randem search

In [59]:
from sklearn.model_selection import RandomizedSearchCV

In [60]:
random = RandomizedSearchCV(estimator=lr, param_distributions=param_grid, cv = 3, n_jobs=-1)

start_time = time.time()
random_result = random.fit(X, Y)
# Summarize results
print("Best: %f using %s" % (random_result.best_score_, random_result.best_params_))
print("Execution time: " + str((time.time() - start_time)) + ' ms')

Best: 0.723751 using {'max_iter': 140, 'dual': False, 'C': 2.5}
Execution time: 0.3700118064880371 ms

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [61]:
classifier.score(X_train,Y_train)

0.7270408163265306

In [62]:
classifier.score(X_test,Y_test)

0.7360406091370558

In [63]:
from joblib import dump, load
dump(classifier,"Loan.joblib")

['Loan.joblib']

In [64]:
loan = load('loan.joblib')

In [65]:
from sklearn.externals import joblib 

# Save the model as a pickle in a file 
joblib.dump(classifier, 'loan.pkl') 

# Load the model from the file 
classifier_from_joblib = joblib.load('loan.pkl') 

# Use the loaded model to make predictions 
classifier_from_joblib.predict(X_test)

C:\Users\Mustafa\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1],
      dtype=int64)

In [66]:
classifier.score(X_test,Y_test)

0.7360406091370558